<header class="header" [class.header-top]="!isHomePage">
  <div class="container">
    <h1><a routerLink="/home">Ross.</a></h1>
    <h2>I'm a <span class="underline">Web Developer</span> from Ukraine <span class="hearts">💙💛</span></h2>

    <nav id="navbar" class="navbar" [class.navbar-mobile]="!isNavbarCollapsed">
      <ul>
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/resume" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">Resume</a>
        </li>
        <li class="nav-item">
          <a routerLink="/services" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">Services</a>
        </li>
        <!-- TODO: uncomment after section redesign done -->
        <!-- <li class="nav-item">
          <a routerLink="/portfolio" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">Portfolio</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link" (click)="closeNavbar()">Contact</a>
        </li>
      </ul>
      <i class="bi mobile-nav-toggle" ngClass="{{isNavbarCollapsed ? 'bi-list' : 'bi-x'}}" (click)="toggleNavbar()"></i>
    </nav>

    
    <div *ngIf="isHomePage" class="social-links">
      <a *ngFor="let item of socialLinks" [href]="item.link" target="_blank"><i [ngClass]="item.icon"></i></a>
    </div>
  </div>
</header>