<!-- ======= Resume Section ======= -->

<!-- TODO: Replace page content with valid data -->
<section id="resume" class="resume" [class.section-show]="sectionShow">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resume</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">{{ resumeData.sumary.title }}</h3>
        <div class="resume-item pb-0">
          <h4>{{ resumeData.sumary.fullName }}</h4>
          <p>
            <em>{{ resumeData.sumary.content }}</em>
          </p>
          <div>
            <ul>
              <li>{{ resumeData.sumary.address }}</li>
              <li>{{ resumeData.sumary.email }}</li>
            </ul>
          </div>
        </div>

        <h3 class="resume-title">{{ resumeData.experience.title }}</h3>
        <div
          *ngFor="let resumeItem of resumeData.experience.items"
          class="resume-item"
        >
          <h4>{{ resumeItem.title }}</h4>
          <h5>{{ resumeItem.date }}</h5>
          <p>
            <em>{{ resumeItem.subtitle }}</em>
          </p>
          <div [innerHTML]="resumeItem.content"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">{{ resumeData.education.title }}</h3>
        <div
          *ngFor="let resumeItem of resumeData.education.courses"
          class="resume-item resume-item-course"
        >
          <h4>{{ resumeItem.title }}</h4>
          <h5>{{ resumeItem.date }}</h5>
          <p>
            <em>{{ resumeItem.subtitle }}</em>
          </p>
          <div [innerHTML]="resumeItem.content"></div>
        </div>
        <h3 class="resume-title"></h3>
        <div
          *ngFor="let resumeItem of resumeData.education.items"
          class="resume-item"
        >
          <h4>{{ resumeItem.title }}</h4>
          <h5>{{ resumeItem.date }}</h5>
          <p>
            <em>{{ resumeItem.subtitle }}</em>
          </p>
          <div [innerHTML]="resumeItem.content"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
