/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$primary-color: #0d8d49;
$primary-color-hover: #35e888;
$primary-color-hover-dark: #0e8d49;
