/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$primary-color: #18d26e;
$primary-color-hover: #35e888;
$primary-color-hover-dark: #0e8d49;
